<!DOCTYPE html>
<html lang="en" ng-app="xdccdApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>XDCCD Webinterface</title>

        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.js"></script>
        <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.2.1.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/angularchartmin.css">
        <script type="text/javascript" src="js/chartmin.js"></script>
        <script type="text/javascript" src="js/angularchartmin.js"></script>
        <!--<link rel="stylesheet" href="css/style.css">-->

        <script src="js/app.js"></script>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->
        <style>
          .progress {
            margin-bottom: 0 !important;
            margin-left: -50%;
          }
        </style>
    </head>
    <body>

      <!--
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">XDCCD</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                    </ul>
                </div>
            </div>
        </nav>
      -->

        <div class="container">
          <div class="row" ng-controller="BotContextCtrl">
            <script type="text/ng-template" id="joinChannel.html">
                <div class="modal-header">
                    <h3 class="modal-title">Join a channel on {{ bot.host }}</h3>
                </div>
                <div class="modal-body">
                  <form class="form-inline" ng-submit="on_submit()">
                    <div class="form-group">
                      <input type="text" class="form-control" id="channelName" placeholder="#channel" ng-model="channel">
                    </div>
                    <button type="submit" class="btn btn-default">Join channel</button>
                  </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning" type="button" ng-click="ok()">Join</button>
                    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
                </div>
            </script>

            <script type="text/ng-template" id="requestFile.html">
                <div class="modal-header">
                    <h3 class="modal-title">Request a file on {{ bot.host }}</h3>
                </div>
                <div class="modal-body">
                  <form class="form-inline" ng-submit="on_submit()">
                    <div class="form-group">
                      <input type="text" class="form-control" id="nick" placeholder="Nickname" ng-model="nick">
                      <input type="text" class="form-control" id="slot" placeholder="1234" ng-model="slot">
                    </div>
                    <button type="submit" class="btn btn-default">Request</button>
                  </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning" type="button" ng-click="ok()">Request</button>
                    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
                </div>
            </script>

             <script type="text/ng-template" id="playVideo.html">
                <div class="modal-header">
                    <h3 class="modal-title">Play Video</h3>
                </div>
                <div class="modal-body">
                  <video ng-src="{{video_src}}" controls></video>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning" type="button" ng-click="ok()">Request</button>
                    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
                </div>
            </script>

            <h1><i class="glyphicon glyphicon-cloud-download"></i> XDCCD</h1>
            <hr/>
            <uib-tabset active="active">
              <uib-tab index="0" heading="Static title">

                <uib-tab-heading><i class="glyphicon glyphicon-tasks"></i> Bots</uib-tab-heading>
                <div class="col-lg-12">
                  <h4>Create bot</h4>
                  <form class="form-inline">
                    <table class="table table-striped" id="cnt0">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Server</th>
                          <th>Port</th>
                          <th>SSL</th>
                          <th>Channels</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <td><input type="text" class="form-control" id="botName" placeholder="#name" ng-model="bot.nickname"></td>
                        <td><input type="text" class="form-control" id="Server" placeholder="#server" ng-model="bot.server"></td>
                        <td><input type="text" class="form-control" id="Port" placeholder="6667" ng-model="bot.port"></td>
                        <td><input type="checkbox" class="form-control" id="SSL" ng-model="bot.ssl"></td>
                        <td><input type="text" class="form-control" id="Channels" placeholder="#channels" ng-model="channels"></td>
                        <td><button type="submit" class="btn btn-default btn-s" ng-click="on_launch(bot, channels)">Launch</button></td>
                      </tbody>
                    </table>
                  </form>
                </div>
                <div class="col-lg-12" ng-controller="StatusCtrl">
                  <h2>Connected bots</h2>
                  <i ng-show="!bots.length">No bots connected!</i>
                  <table class="table table-striped" id="cnt1" ng-hide="!bots.length">
                      <thead>
                          <tr>
                              <th>#</th>
                              <th>Name</th>
                              <th>Server</th>
                              <th>Channels</th>
                              <th>Announces</th>
                              <th></th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr ng-repeat="bot in bots">
                              <td>{{ bot.id }}</td>
                              <td>{{ bot.botname }}</td>
                              <td>{{ bot.host }}</td>
                              <td>{{ bot.channels.join(', ') }}</td>
                              <td>{{ bot.announces }}</td>
                              <td>
                                <div class="btn-group">
                                  <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu">
                                    <li><a href="#" ng-click="openChannelModal(bot)">Join channel</a></li>
                                    <li><a href="#" ng-click="openFileRequestModal(bot)">Request file</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#" ng-click="disconnect(bot)">Disconnect</a></li>
                                  </ul>
                                </div>
                              </td>
                          </tr>
                      </tbody>
                  </table>
                </div>
              </uib-tab>

              <uib-tab index="1">
                  <uib-tab-heading><i class="glyphicon glyphicon-download-alt"></i> Downloads <span class="badge alert-warning" ng-show="download_stat.active_downloads > 0">{{ download_stat.active_downloads }}</span> <span class="badge alert-success" ng-show="download_stat.finished_downloads > 0">{{ download_stat.finished_downloads }}</span> <span class="badge alert-info" ng-show="download_stat.all_downloads > 0">{{ download_stat.all_downloads }}</span></uib-tab-heading>

                <div class="col-lg-12" ng-controller="StatusCtrl">
                    <h2>Downloads</h2>
                    <i ng-show="!downloads.length">No files exist!</i>
                    <table class="table table-striped" id="cnt1" ng-hide="!downloads.length">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Mode</th>
                                <th>Filename</th>
                                <th>Bot</th>
                                <th>Server</th>
                                <th>Size</th>
                                <th>Percent</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="file in downloads">
                                <td>{{ file.id }}</td>
                                <td ng-show="file.passive"><span class="label label-warning">Passive</span>
                                <td ng-show="!file.passive"><span class="label label-info">Aktive</span>
                                <td>{{ file.filename }}</td>
                                <td>{{ file.bot.botname }}</td>
                                <td>{{ file.bot.host }}</td>
                                <td>{{ file.received / 1024 / 1024 | number:2 }}/{{ file.filesize / 1024 / 1024 | number:2 }} MB</td>
                                <td>
                                  <div class="progress">
                                    <div class="progress-bar progress-bar-striped" ng-class="{'active': file.received < file.size}" role="progressbar" aria-valuenow="{{ file.received_percent }}" aria-valuemin="0" aria-valuemax="100" ng-style="{width: ( file.received_percent + '%' ) }">
                                      {{ file.received_percent | number:2 }}%
                                    </div>
                                  </div> 
                                </td>
                                <td>
                                  <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                      <li><a href="#" ng-click="cancelDownload(file)" ng-if="file.state == 2 || file.state == 0 || file.state == 1">Cancel</a></li>
                                      <li><a href="#" ng-click="removeFromList(file)" ng-if="file.state == 3 || file.state == 4">Delete from list</a></li>
                                      <li><a href="#" ng-click="removeFromDisk(file)" ng-if="file.state == 3 || file.state == 4">Delete from disk</a></li>
                                    </ul>
                                  </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
              </uib-tab>

              <uib-tab index="2">
                <uib-tab-heading><i class="glyphicon glyphicon-search"></i> Search</uib-tab-heading>
                <div class="col-lg-12" ng-controller="SearchCtrl">
                  <div class="row">
                    <h2>Search</h2>
                      <form class="form-inline">
                        <table class="table table-striped" id="cnt0">
                          <thead>
                            <tr>
                              <th></th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            <td><input type="text" class="form-control" id="queryString" placeholder="Search..." ng-model="query"></td>
                            <td><button type="submit" class="btn btn-default btn-s" ng-click="on_search(query, 0)">Search</button></td>
                          </tbody>
                        </table>
                      </form>
                  </div>
                  <div class="row" ng-controller="VideoContextCtrl">
                    <i ng-show="!search.results.length">No search Results</i>
                    <table class="table table-striped" id="cnt1" ng-hide="!search.results.length">
                      <thead>
                            <tr>
                                <th>Filename</th>
                                <th>Size</th>
                                <th>Downloaded</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="res in search.results">
                              <td>{{ res.name }}</td>
                              <td>{{ res.size }}</td>
                              <td>{{ res.download_count }}x</td>
                              <td><button class="btn btn-default btn-xs" ng-click="add_download(res)"><i class="glyphicon glyphicon-shopping-cart" ></i></button></td>
                              <td><button class="btn btn-default btn-xs" ng-click="openVideoModal(res)" ng-show="{{ res.name.endsWithLastIndexOf('mp4') }}"><i class="glyphicon glyphicon-film"></i></button></td>
                            </tr>
                    </table>
                    <div class="row text-center">
                     <ul class="pagination" ng-hide="!search.results.length">
                      <li ng-repeat="i in get_paginations(search.total_results) track by $index" ng-class="{'active': search.start/25 == $index }" ng-show="$first"><a href="#" ng-click="on_search(query, $index*25)">{{ $index+1 }}</a></li>
                      <li><a>...</a></li>
                      <li ng-repeat="i in get_paginations(search.total_results) track by $index" ng-class="{'active': search.start/25 == $index }" ng-hide="$first || $last || $index != search.start/25 && $index != search.start/25+1 && $index != search.start/25-1"><a href="#" ng-click="on_search(query, $index*25)">{{ $index+1 }}</a></li>
                      <li><a>...</a></li>
                      <li ng-repeat="i in get_paginations(search.total_results) track by $index" ng-class="{'active': search.start/25 == $index }" ng-show="$last"><a href="#" ng-click="on_search(query, $index*25)">{{ $index+1 }}</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              </uib-tab>

              <uib-tab index="3">
                <uib-tab-heading><i class="glyphicon glyphicon-info-sign"></i> Status</uib-tab-heading>
                <div class="col-lg-12">
                  <h1>Status</h1>
                  <p>Disk usage, total transmitted bytes, version, ...</p>
                </div>
              </uib-tab>
            </uib-tabset>
          </div>
        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script type="text/javascript">
          String.prototype.endsWithLastIndexOf = function(str) {
            var lastIndex = this.lastIndexOf(str);
            return (lastIndex != -1) && (lastIndex + str.length == this.length);
          };
        </script>
    </body>
</html>
